
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model ResetPasswordVm

<div class="container" style="padding-top:120px;text-align:center;margin-bottom:11px;">
    <div class="row">
        <div class="col-sm-12">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center col-sm-offset-3">
            <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>

            <form method="post" id="passwordForm">
                <input type="password" class="input-lg form-control" asp-for="Password" name="Password" id="password1" placeholder="New Password" autocomplete="off" style=" margin: 7px auto; width: 237px; padding: 13px; display: flex;">
                <span class="text-danger" asp-validation-for="Password"></span>
                <div class="row">
                    
                 
                </div>
                <input type="password" class="input-lg form-control "asp-for="ConfirmPassword" name="ConfirmPassword" id="password2" placeholder="Repeat Password" autocomplete="off" style=" margin: 7px auto; width: 237px; padding: 13px; display: flex;">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
              
                <input style=" width: 245px; font-size: 14px; padding: 15px; letter-spacing: 1px;" type="submit" class="col-xs-12 btn btn-danger btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>