
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default" style=" padding-top: 121px; margin-bottom: 30px;">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                            <div class="form-group">
                                <div class="input-group" style=" margin: 0 auto; width: 400px; display: flex; justify-content: center; padding: 15px;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="email" name="email" placeholder="email address" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <input style=" font-size: 15px; letter-spacing: 6px; width: 29%;" name="recover-submit" class="btn btn-lg btn-danger btn-block" value="Reset Password" type="submit">
                            </div>

                            <input type="hidden" class="hide" name="token" id="token" value="">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>