.single-cart {
    padding-top: 100px;
    background-image: url("../images/bg_4.jpg");
    width: 100%;
    height: 1050px;
    .product-details {
        h3 {
            color: white;
            padding: 15px 13px;
            letter-spacing: 1px;
        }
        .price {
            font-size: 20px;
            color: rgb(143, 113, 57);
            span {
                font-size: 26px;
                padding: 15px 13px;
            }
        }
        p {
            color: white;
            padding: 15px 13px;
            font-size: 14px;
            line-height: 30px;
            font-weight: 100;
        }
    }
    .size {
        position: relative;
        margin-left: 36px;
        padding: 11px;
        width: 143px;
        .down {
            position: absolute;
            right: 20px;
            top: 18px;
            color: white;
        }
        select {
            background: transparent;
            color: wheat;
            font-size: 13px;
            font-weight: 200;
            border-radius: 0;
            padding: 12px 25px;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .inputquantity {
        width: 302px;
        margin-left: 12px;
        input {
            text-align: center;
            background-color: transparent;
            color: white;
            border: 1px solid rgb(185, 145, 69);
            &:focus{
                box-shadow: none;
            }
        }
        button {
            width: 42px;
            height: 38px;
            border: 1px solid white;
            /* line-height: 28px; */
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            border: 1px solid rgb(185, 145, 69);
            padding: 27px 26px;
            &:focus{
                box-shadow: none;
            }
        }
    }
    #butonsub{
        width: 200px;
        height: 59px;
        margin-left: 13px;
        border: none;
        border: 1px solid #866a35;
        background-color:#866a35 ;
        &:hover{
            background-color: transparent;
            color:white;
        }
    }
}
